@font-face {
    font-family: "Bugaki";  /* Give the font a name */
    src: url("assets/fonts/Bugaki.ttf") format('truetype');  /* Path to the font file */
    font-style: normal;
  }

  @font-face {
    font-family: "Bugaki-Oblique";  /* Give the font a name */
    src: url("assets/fonts/Bugaki Oblique.ttf") format('truetype');  /* Path to the font file */
    font-style: oblique 40deg;
  }

  @font-face {
    font-family: "Montserrat-ExtraBold";  /* Give the font a name */
    src: url("assets/fonts/Montserrat-ExtraBold.ttf") format('truetype');  /* Path to the font file */
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";  /* Give the font a name */
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');  /* Path to the font file */
    font-style: normal;
  }

  .header-text-1{
    font-family: "Bugaki";
    text-align: center;
  }

  .header-text-2{
    font-family: "Montserrat-ExtraBold";
  }

  /* .input-head{
    font-family: Montserrat-ExtraBold;
    font-size: 1.5rem;
    font-weight: bold;
  } */


  .body-text{
    font-family: "Montserrat";
    text-align: justify;
  } 

