@font-face {
    font-family: "Bugaki";  /* Give the font a name */
    src: url("assets\fonts\Bugaki.ttf");  /* Path to the font file */
  }

  @font-face {
    font-family: "Bugaki-Oblique";  /* Give the font a name */
    src: url("assets\fonts\Bugaki Oblique.ttf");  /* Path to the font file */
  }

  @font-face {
    font-family: "Montserrat-ExtraBold";  /* Give the font a name */
    src: url("assets\fonts\Montserrat-ExtraBold.ttf");  /* Path to the font file */
  }

  @font-face {
    font-family: "Montserrat";  /* Give the font a name */
    src: url("assets\fonts\Montserrat-VariableFont_wght.ttf");  /* Path to the font file */
  }

  .header-text-1{
    font-family: Montserrat-ExtraBold;
    text-align: center;
  }

  .header-text-2{
    font-family: Montserrat-ExtraBold;
  }

  /* .header-text-2{
    font-family: Bugaki-Oblique;
  }


  .body-text{
    font-family: Bugaki;
    text-align: justify;
  } */

